{{template "head.html" .}}

	<img src='/static/images/star-wars-logo.svg' style='width: 40vw;' />

	<p>
		<a href='/resources'>resources</a> &middot;
		<a href='https://www.reddit.com/r/movies/comments/7jwxnd/official_discussion_star_wars_episode_viii_the/'>reddit discussion</a> &middot;
		<a href='https://www.rottentomatoes.com/m/star_wars_the_last_jedi'>rottentomatoes.com</a>
	</p>

	<h1>Star Wars: The Last Jedi Sucks!</h1>

	<p>
		The purpose of this site is to enumerate all of the reasons <i>Star Wars:
		The Last Jedi</i> is not only a bad Star Wars movie but is generally a an
		awful movie.
	</p>


{{template "foot.html" .}}


